/* FONT PATH
 * -------------------------- */

@font-face {
    font-family: 'FontAwesome';
    src: url('../less/icons/font-awesome/fonts/fontawesome-webfont.eot?v=@{fa-version}');
    src: url('../less/icons/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'), url('../less/icons/font-awesome/fonts/fontawesome-webfont.woff2?v=@{fa-version}') format('woff2'), url('../less/icons/font-awesome/fonts/fontawesome-webfont.woff?v=@{fa-version}') format('woff'), url('../less/icons/font-awesome/fonts/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'), url('../less/icons/font-awesome/fonts/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
    //  src: url('../less/icons/font-awesome/fonts/FontAwesome.otf') format('opentype'); // used when developing fonts
    font-weight: normal;
    font-style: normal;
}