﻿<div style="margin-top: 20px;">
    <div id="grid-products" class="show-grid"></div>
</div>
@section scripts
{
    <script type='text/javascript'>

        $(function() {

            ////利率
            //window.ratioConfig = {
            //    max: 1,
            //    min: 0,
            //    //value: result.exceptRatio, //有默认值，需要获取
            //    //format: { type: "fixedPoint", precision: 4 },
            //    format: '##.0# %',//根据调研结果，咱们项目中使用的是17.2.5版本 format是有bug的，控件需要升级到17.2.7以上
            //    placeholder: '预计毛利率',
            //    onValueChanged: function (e) {
            //        if (e.value) {
            //            //if (isNaN(e.value)) e.value = 0.0000;
            //            //e.value = Number((e.value * 1).toFixed(4));
            //            //if (window.ratioConfig.value !== e.value) {
            //            //    window.ratioConfig.value = e.value;
            //            //    updateDataByExceptRatio(e.value);
            //            //}
            //        }
            //    }
            //};

            //window.dateConfig = {
            //    value: new Date().getTime(),
            //    stylingMode: 'outlined',
            //    buttons: [
            //        {
            //            name: 'today',
            //            location: 'before',
            //            options: {
            //                text: 'Today',
            //                onClick: function (e) {
            //                    //dateEditor.option('value', new Date().getTime());
            //                }
            //            }
            //        }, {
            //            name: 'prevDate',
            //            location: 'before',
            //            options: {
            //                icon: 'spinprev',
            //                stylingMode: 'text',
            //                onClick: function() {
            //                    //var currentDate = dateEditor.option('value');
            //                    //dateEditor.option('value', currentDate - millisecondsInDay);
            //                }
            //            }
            //        }, {
            //            name: 'nextDate',
            //            location: 'after',
            //            options: {
            //                icon: 'spinnext',
            //                stylingMode: 'text',
            //                onClick: function() {
            //                    //var currentDate = dateEditor.option('value');
            //                    //dateEditor.option('value', currentDate + millisecondsInDay);
            //                }
            //            }
            //        }, 'dropDown'
            //    ]
            //};

            window.params = {
                startDate: null,
                endDate: null,
                chargeType: null
            };

            //dxConfig.selectEnumBox('/api/parakeet/enum/enum-type-item-key-name-descriptions?Name=ChargeType', window.params.chargeType);
            var chargeTypeSelects = syncGet('/api/parakeet/enum/enum-type-item-key-name-descriptions?name=chargeType');
            chargeTypeSelects.unshift({ itemKey: null, itemDescription:'全部'});
            var chargeTypeConfig = {
                elementAttr: {
                    id: 'chargeTypeId'
                    //class:'chargeType'
                },
                displayExpr: 'itemDescription',
                valueExpr: 'itemKey',
                searchPlaceholder: '请选择...',
                dataSource: chargeTypeSelects,
                value: window.params.chargeType,
                closeOnOutsideClick: true,
                onValueChanged: function (e) {
                    window.params.chargeType = e.value;
                    chargeTypeConfig.value = e.value;
                    initProductPivotGrid();
                }
            };

            initProductPivotGrid();

            function initProductPivotGrid() {

                syncPost('/api/parakeet/product/pivot-grid',
                    {
                        startDate: window.params.startDate,
                        endDate: window.params.endDate,
                        chargeType: window.params.chargeType
                    },
                    function(array) {

                        var config = dxConfig.pivotGrid(array);
                        config.gridId = 'grid-products';
                        config.gridSelector = '#' + config.gridId;
                        config.export.fileName = '小区汇总' + new Date().toLocaleDateString();
                        config.showColumnTotals = true;
                        config.dataSource.fields = [
                            {
                                caption: '小区',
                                dataField: 'sectionName', //dataField: 'SectionId',
                                width: 120,
                                allowSorting: true,
                                expanded: false, //默认展开行/列
                                showTotals: true, //是否显示合计行/列,默认显示
                                //wordWrapEnabled: true,
                                //sortOrder: 'asc',
                                //selector: function (row) {
                                //    return row.sectionId + '-' + row.sectionName;
                                //},
                                //customizeText: function (e) {
                                //    var str = e.value.split('-');
                                //    return str[1];//自定义界面显示：row.sectionName，达到排序与显示分离
                                //},
                                //使用了selector之后，sortingMethod就自动失效，不用selecor/特殊情况下写sortingMethod自定义排序
                                //sortingMethod: function (a, b) {
                                //    var index1 = parseInt(a.value.split('-')[0]);
                                //    var index2 = parseInt(b.value.split('-')[0]);
                                //    return index1 > index2;
                                //}
                                area: 'row'
                            },
                            {
                                caption: '房间',
                                dataField: 'houseNumber',
                                width: 120,
                                expanded: true,
                                showTotals: true,
                                area: 'row'
                            },
                            {
                                caption: '收费项目',
                                dataField: 'chargeTypeDisplayName',
                                width: 120,
                                expanded: true,
                                showTotals: true,
                                area: 'row'
                            },
                            {
                                dataField: 'creationTime',
                                dataType: 'date',
                                groupInterval: 'year', //日期 年
                                area: 'column'
                            },
                            {
                                dataField: 'creationTime',
                                dataType: 'date',
                                groupInterval: 'month', //日期 月
                                area: 'column'
                            },
                            {
                                caption: '单价(元)',
                                dataField: 'price',
                                dataType: 'number',
                                summaryType: 'sum',
                                //showTotals: false,
                                format: { type: 'fixedPoint', precision: 2 },
                                area: 'data'
                            },
                            {
                                caption: '数量',
                                dataField: 'amount',
                                dataType: 'number',
                                summaryType: 'sum',
                                //showTotals: false,
                                format: { type: 'fixedPoint', precision: 2 },
                                area: 'data'
                            },
                            {
                                caption: '金额',
                                dataField: 'total',
                                dataType: 'number',
                                summaryType: 'sum',
                                cssClass: 'orange',
                                format: { type: 'fixedPoint', precision: 2 },
                                area: 'data'
                            }
                        ];
                        config.scrolling = {
                            mode: 'standard',
                            useNative: true
                        };
                        config.exceptRatio = 0;
                        config.onToolbarPreparing = function(items) {
                            //items.push({
                            //    widget: 'dxCustomHtml',
                            //    options: {
                            //        template: function (container) {
                            //            var html = $('<div class="dx-field-label">预计毛利率</div>' +
                            //                '<div class="dx-field-value">' +
                            //                '   <div class="expect-ratio"></div>' +
                            //                '</div>');
                            //            return html;
                            //        }
                            //    },
                            //    location: 'before'
                            //});

                            items.push({
                                widget: 'dxCustomLable',
                                options: {
                                    template: function(container) {
                                        var html = $(
                                            '<div class="dx-field-label" style="width: 2100%;">&nbsp;&nbsp;收费类型</div>');
                                        return html;
                                    }
                                }, //window.endDateBoxConfig,
                                location: 'before'
                            });
                            items.push({
                                widget: 'dxSelectBox',
                                options: chargeTypeConfig,
                                //options: {
                                //    template: function(container) {
                                //        var html = $('<div class="dx-field-label">&nbsp;&nbsp;收费类型</div>' +
                                //            '<div class="dx-field-value">' +
                                //            '   <div class="chargeType"></div>' +
                                //            '</div>');
                                //        return html;
                                //    }
                                //}, //window.endDateBoxConfig,
                                location: 'before'
                            });
                            items.push({
                                widget: 'dxCustomHtml',
                                //options: window.dateConfig,
                                options: {
                                    template: function(container) {
                                        var html = $('<div class="dx-field-label">&nbsp;&nbsp;开始日期</div>' +
                                            '<div class="dx-field-value">' +
                                            '   <div class="startDate"></div>' +
                                            '</div>');
                                        return html;
                                    }
                                }, //window.startDateBoxConfig,
                                location: 'before'
                            });

                            items.push({
                                widget: 'dxCustomHtml',
                                options: {
                                    template: function(container) {
                                        var html = $('<div class="dx-field-label">&nbsp;&nbsp;结束日期</div>' +
                                            '<div class="dx-field-value">' +
                                            '   <div class="endDate"></div>' +
                                            '</div>');
                                        return html;
                                    }
                                }, //window.endDateBoxConfig,
                                location: 'before'
                            });

                            items.push({
                                widget: 'dxButton',
                                options: {
                                    text: "刷新重置",
                                    onClick: function() {
                                        window.params = {
                                            startDate: null,
                                            endDate: null,
                                            chargeType: null
                                        };
                                        initProductPivotGrid();
                                    }
                                },
                                location: 'after'
                            });
                        };
                        config.onContentReady = function(e) {
                            //if (!window.ratioConfig.value) window.ratioConfig.value = e.component._options.exceptRatio;
                            //$('.expect-ratio').dxNumberBox(window.ratioConfig);
                            $('.startDate').dxDateBox({
                                type: 'date', //'datetime'
                                pickerType: 'calendar', //'rollers',//
                                value: window.params.startDate,
                                //placeholder: '请选择开始日期',
                                maxZoomLevel: 'year',
                                max: window.params.endDate,
                                //displayFormat: function (value) { return T(value, __MonthFormat); },
                                onValueChanged: function(e) {
                                    if (e.value) {
                                        //$('.endDate').dxDateBox('instance').option('min', e.value);
                                        //var range = {
                                        //    startDate: e.value,
                                        //    endDate: $('.endDate').dxDateBox('instance').option('value')
                                        //};
                                        //接着刷新grid
                                        window.params.startDate = e.value;
                                        initProductPivotGrid();
                                    }
                                }
                            });

                            $('.endDate').dxDateBox({
                                type: 'date',
                                pickerType: 'calendar',
                                value: window.params.endDate,
                                //placeholder: '请选择结束日期',
                                maxZoomLevel: 'year',
                                min: window.params.startDate,
                                //displayFormat: function (value) { return T(value, __MonthFormat); },
                                onValueChanged: function(e) {
                                    if (e.value) {
                                        ////$('.startDate').dxDateBox('instance')._options.max = e.value;
                                        //$('.startDate').dxDateBox('instance').option('max', e.value);
                                        //var range = {
                                        //    startDate: $('.startDate').dxDateBox('instance').option('value'),
                                        //    endDate: e.value
                                        //};
                                        //接着刷新grid
                                        window.params.endDate = e.value;
                                        initProductPivotGrid();
                                    }
                                }
                            });
                        };
                        config = pivotGridSugar(config);
                        var parent = $(config.gridSelector).parent().html('');
                        $('<div id="' + config.gridId + '">').dxPivotGrid(config).appendTo(parent);

                        //config.component = $(config.gridSelector).dxPivotGrid('instance');
                    });
            }


        });


    </script>
}

