﻿
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?u4m6fy');
    src: url('../fonts/icomoon.eot?u4m6fy#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?u4m6fy') format('truetype'), url('../fonts/icomoon.woff?u4m6fy') format('woff'), url('../fonts/icomoon.svg?u4m6fy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logg:before {
    content: "\e915";
}

.icon-manager:before {
    content: "\e916";
}

.icon-user:before {
    content: "\e917";
}

.icon-data:before {
    content: "\e918";
}

.icon-sysmanager:before {
    content: "\e919";
}

.icon-list:before {
    content: "\e91a";
}

.icon-passagewaymanager:before {
    content: "\e91b";
}

.icon-base:before {
    content: "\e91c";
}

.icon-agentlist:before {
    content: "\e91d";
}

.icon-configure:before {
    content: "\e91e";
}

.icon-flow:before {
    content: "\e91f";
}

.icon-orderlist:before {
    content: "\e920";
}

.icon-ydlist:before {
    content: "\e921";
}

.icon-agentpay:before {
    content: "\e922";
}

.icon-agentsum:before {
    content: "\e923";
}

.icon-passagewaysum:before {
    content: "\e924";
}

.icon-custom:before {
    content: "\e925";
}

.icon-address:before {
    content: "\e926";
}

.icon-lock:before {
    content: "\e927";
}


body {
    color: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    background: url(../images/bg.jpg) no-repeat;
}

.login-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 600px;
}
/*把整个屏幕真正撑开--而且能自己实现居中*/
.main_content {
    background: url(../images/main_bg.png) repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    float: none;
    border-radius: 8px;
}

.form-group {
    position: relative;
}

.login_btn {
    display: block;
    background: #3872f6;
    color: #fff;
    font-size: 15px;
    width: 100%;
    line-height: 50px;
    border-radius: 3px;
    border: none;
}

.login_input {
    width: 100%;
    border: 1px solid #3872f6;
    border-radius: 3px;
    line-height: 40px;
    padding: 2px 5px 2px 30px;
    background: none;
}

.login_input_code {
    @extend .login_input;
    width: 48%;
}

.icon_font {
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 18px;
    color: #3872f6;
}

.font16 {
    font-size: 16px;
}

.mg-t20 {
    margin-top: 20px;
}

.field-validation-error {
    color: red;
}
.input-validation-error{
    border-color:red;
}
@media (min-width:200px) {
    .pd-xs-20 {
        padding: 20px;
    }
}

@media (min-width:768px) {
    .pd-sm-50 {
        padding: 50px;
    }
}

#grad {
    background: -webkit-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4990c1, #52a3d2, #6186a3); /* 标准的语法 */
}

/*jquery validate error style*/
form {
    label.error {
        font-style: italic;
        color: red;
        position: absolute;
        float: left;
        left: 0px;
        bottom: -25px;
    }

    .field-validation-error {
        font-style: italic;
        color: red;
        position: absolute;
        float: left;
        right: 10px;
        bottom: 10px;
        z-index:-1;
    }

    input {
        border: 1px solid black;
        color: white;

        &.checkbox {
            border: none
        }

        &:focus {
            border: 1px dotted black;
        }

        &.error {
            border: 1px dotted red;
        }
    }
}