﻿@using Microsoft.AspNetCore.Authorization
@{
    //Layout = "_LayoutHome";
    var authorizationService = (IAuthorizationService)ViewBag.AuthorizationService;
}
<div id="manager" class="show-grid"></div>

@section scripts
{
    <script type='text/javascript'>


    </script>
}

