/* EXTRAS
 * -------------------------- */

/* Stacked and layered icon */

/* Animated rotating icon */
.#{$fa-css-prefix}-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(359deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

// Icon rotations & flipping
// -------------------------

.#{$fa-css-prefix}-rotate-90 {
    @include fa-icon-rotate(90deg, 1);
}

.#{$fa-css-prefix}-rotate-180 {
    @include fa-icon-rotate(180deg, 2);
}

.#{$fa-css-prefix}-rotate-270 {
    @include fa-icon-rotate(270deg, 3);
}

.#{$fa-css-prefix}-flip-horizontal {
    @include fa-icon-flip(-1, 1, 0);
}

.#{$fa-css-prefix}-flip-vertical {
    @include fa-icon-flip(1, -1, 2);
}