@import "../variables.less";

/*Just change your choise color here its theme Colors*/

@topbar: @purple;
@sidebar: #2f323e;
@bodycolor: #f1f2f7;
@headingtext: #2b2b2b;
@bodytext: #686868;
@sidebar-text: #97999f;
@themecolor: @purple;
@dark-themecolor: #4F5467;

body {
    background: @sidebar;
}

/*Top Header Part*/

.logo i {
    color: @white;
}

.navbar-header {
    background: @topbar;
}

.navbar-top-links > li > a {
    color: @white;
}

/*Right panel*/

.right-sidebar .rpanel-title {
    background: @themecolor;
}

/*Bread Crumb*/

.bg-title .breadcrumb .active {
    color: @themecolor;
}

.bg-title {
}

/*Sidebar*/

.sidebar {
    background: @sidebar;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);

    .label-custom {
        background: @megna;
    }
}

#side-menu li a {
    color: @sidebar-text;
}

#side-menu li a {
    color: @sidebar-text;
    border-left: 0px solid @sidebar;
}

#side-menu > li > a {
    &:hover,
    &:focus {
        background: rgba(0, 0, 0, 0.07);
    }

    &.active {
        background: @themecolor;
        color: @white;
        font-weight: 500;
    }
}

#side-menu ul > li > a {
    &:hover {
        color: @white;
    }

    &.active {
        color: @white;
        font-weight: 500;
    }
}

.user-profile .user-pro-body .u-dropdown {
    color: @sidebar-text;
}

/*themecolor*/

.bg-theme {
    background-color: #707cd2 !important;
}

.bg-theme-dark {
    background-color: @themecolor !important;
}

/*Button*/

.btn-custom {
    background: @themecolor;
    border: 1px solid @themecolor;
    color: @white;

    &:hover {
        background: @themecolor;
        opacity: 0.8;
        color: @white;
        border: 1px solid @themecolor;
    }
}

/*Custom tab*/

.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
    border-bottom: 2px solid @themecolor;
    color: @themecolor;
}

.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
    background: @themecolor;
    border-right: 2px solid @themecolor;
}

/*Nav-pills*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background: @themecolor;
    color: @white;
}
/*Extra css*/
.bg-theme, .fc-toolbar, .fc th.fc-sun, .fc th.fc-tue, .fc th.fc-thu, .fc th.fc-sat, .fc th.fc-mon, .fc th.fc-wed, .fc th.fc-fri, .fc-button {
    background-color: @themecolor !important;
}

.table tbody tr.advance-table-row.active, .fc-button {
    border-color: @themecolor;
}

.manage-users .tabs-style-iconbox nav {
    background: @themecolor;

    li.tab-current a {
        background: @themecolor;

        &:after {
            border-top-color: @themecolor;
        }
    }
}

.panel-themecolor,
.panel-theme {
    border-color: @themecolor;

    .panel-heading {
        border-color: @themecolor;
        color: white;
        background-color: @themecolor;

        a {
            color: @white;

            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    a {
        color: @themecolor;

        &:hover {
            color: darken(@themecolor, 15%);
        }
    }
}