﻿
<div id="grid-supplier" class="show-grid"></div>
@section scripts
{
    <script type='text/javascript'>

        $(function () {

            initSupplierGrid();

            function initSupplierGrid() {
                var config = dxConfig.editGrid('/api/parakeet/supplier');
                config.gridId = 'grid-supplier';
                config.gridSelector = '#' + config.gridId;
                config.editing.allowAdding = true;
                config.editing.allowDeleting = true;
                config.editing.allowUpdating = true;
                //config.searchPanel.visible = true;
                config.columns = [
                    {
                        dataField: 'id',
                        caption: 'Id',
                        allowEditing: false,
                        visible: false //, dataType: 'Guid'
                    },
                    {
                        dataField: 'name',
                        alignment: 'center',
                        allowFiltering: false,
                        allowEditing: true,
                        allowHeaderFiltering: false,
                        caption: '名称',
                        validationRules: [
                            { type: 'required', message: '名称为必填项' },
                            //{ type: 'pattern', pattern: '^[^0-9]+$', message: '名称避免使用纯数字' },
                            { type: 'fieldUnique', checkUrl: '/api/parakeet/supplier/check-field', message: '名称重复' }
                            //{ type: 'fieldsUnique', checkUrl: '/api/parakeet/supplier/check-fields', fields: ['LocationAreaId'], message: '名称重复' }
                        ]
                    },
                    {
                        dataField: 'code',
                        alignment: 'center',
                        allowFiltering: false,
                        allowEditing: true,
                        allowHeaderFiltering: false,
                        caption: '编码',
                        validationRules: [
                            { type: 'required', message: '编码为必填项' },
                            //{ type: 'pattern', pattern: '^[^0-9]+$', message: '编码避免使用纯数字' },
                            { type: 'fieldUnique', checkUrl: '/api/parakeet/supplier/check-field', message: '编码重复' }
                            //{ type: 'fieldsUnique', checkUrl: '/api/parakeet/supplier/check-fields', fields: ['LocationAreaId'], message: '编码重复' }
                        ]
                    },
                    {
                        dataField: 'phone',
                        alignment: 'center',
                        allowFiltering: false,
                        allowHeaderFiltering: false,
                        allowEditing: true,
                        caption: '电话'
                    },
                    {
                        dataField: 'locationAreaId',
                        alignment: 'center',
                        allowFiltering: false,
                        allowHeaderFiltering: false,
                        //allowEditing: false,
                        caption: '区域',
                        lookup: dxConfig.selectBox('/api/parakeet/location-area/location-area-select-box?cancelValid=true'),
                        validationRules: [{ type: "required", message: "区域必填项" }]
                    },
                    {
                        dataField: 'description',
                        alignment: 'center',
                        allowFiltering: false,
                        allowHeaderFiltering: false,
                        caption: '备注'
                    }
                ];
                config.onInitNewRow = function (e) {
                    //e.data.key=new uuid();
                };
                config.onContentReady = function (e) {

                };
                config.onEditorPreparing = function (e) {
                    //&& e.parentType === 'filterRow'
                    if (e.dataField === 'locationAreaId') {
                        e.editorName = 'dxDropDownBox';
                        var dropDownBoxConfig = dxConfig.dropDownBox('/api/parakeet/location-area/location-area-tree?cancelValid=true');
                        dropDownBoxConfig.width = '100%';
                        //dropDownBoxConfig.valueExpr = 'id';
                        //dropDownBoxConfig.displayExpr = 'name';
                        dropDownBoxConfig.placeholder = e.lookup.valueMap[e.value];
                        var treeView = getDxTreeViewConfig({
                            selectionMode:'single',//单选 
                            height: 500
                        });
                        getDxDropDownBoxConfig(dropDownBoxConfig, treeView, 'TreeView');

                        dropDownBoxConfig.onValueChanged = function (arg) {
                            if (arg.value != null) {
                                e.setValue(arg.value);
                                //$(e.editorElement).text(e.lookup.valueMap[arg.value]);
                                $(e.editorElement)[0].innerHTML = e.lookup.valueMap[arg.value];
                            }
                        };
                        e.editorOptions = dropDownBoxConfig;
                    }
                };
                config.onToolbarPreparing = function (e) {
                    //var items = e.toolbarOptions.items;
                    //$.each(items,
                    //    function (index, item) {
                    //        if (item.name === 'addRowButton') {
                    //            //var addFunc = item.options.onClick;
                    //            item.options.onClick = null;
                    //            item.options.onClick = function (f) {
                    //                //f.event.stopPropagation();
                    //                //跳转到联系我们页面
                    //                window.location = '/api/parakeet/supplier/create';
                    //            }
                    //        }
                    //    });
                    //items.push({
                    //    widget: 'dxButton',
                    //    options: {
                    //        text: '查看更多',
                    //        onClick: function (f) {
                    //            f.event.stopPropagation();
                    //            e.component.beginUpdate();
                    //            var visible = !e.component.columnOption('phone', 'visible');
                    //            e.component.columnOption('phone', 'visible', visible);
                    //            e.component.columnOption('qNumber', 'visible', visible);
                    //            e.component.columnOption('email', 'visible', visible);
                    //            e.component.columnOption('readTime', 'visible', visible);
                    //            if (visible) {
                    //                f.component.option('text', '隐藏');
                    //            } else {
                    //                f.component.option('text', '查看更多');
                    //            }
                    //            e.component.endUpdate();
                    //        }
                    //    },
                    //    location: 'after'
                    //});
                };


                gridSugar(config);
                config.component = $(config.gridSelector).dxDataGrid(config).dxDataGrid('instance');

            }

        });


    </script>
}
