/*!
* DevExtreme
* Version: 18.2.11
* Build date: Nov 11, 2019
*
* Copyright (c) 2012 - 2019 Developer Express Inc. ALL RIGHTS RESERVED
* Read about DevExtreme licensing here: https://js.devexpress.com/Licensing/
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
}
.dx-viewport {
  width: 100%;
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
a {
  color: #818181;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.dx-full-height {
  height: 100%;
}
.dx-transition {
  position: relative;
}
.dx-transition-absolute .dx-transition-inner-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.dx-hidden {
  display: none !important;
}
.dx-fast-hidden,
.dx-inactive-view {
  position: absolute !important;
  top: -99999px !important;
  left: -99999px !important;
}
.dx-skip-animation,
.dx-fast-hidden,
.dx-inactive-view {
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -webkit-transition-delay: 0 !important;
  transition-delay: 0 !important;
  -webkit-transition-duration: 0 !important;
  transition-duration: 0 !important;
}
.dx-transition-absolute .dx-active-view {
  left: 0;
  height: 100%;
  position: absolute;
}
.dx-layout.dx-animating.dx-leave,
.dx-layout.dx-animating.dx-enter {
  position: absolute;
  top: 0;
  left: 0;
}
