﻿@*<abp-style-bundle>
            <abp-style src="/plugins/rs-plugin/css/settings.css" />
            <abp-style src="/css/main.css" />
            <abp-style src="/css/style.css" />
            <!--以上三个都是主页需要的，可以不引用，不能放压缩main里面有语法错误->

            <abp-style src="/css/font-awesome.min.css" />
            <abp-style src="/css/ionicons.min.css" />
            <abp-style src="/css/responsive.css" />
            <abp-style src="/css/default.css" />
            <abp-style src="/css/site.min.css" />
        </abp-style-bundle>
    <link rel="stylesheet" href="/plugins/rs-plugin/css/settings.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/site.min.css" />*@




