﻿@*<abp-script-bundle>
            <abp-script src="/js/devextreme/cldr.min.js" />
            <abp-script src="/js/devextreme/cldr/event.min.js" />
            <abp-script src="/js/devextreme/cldr/supplemental.min.js" />
            <abp-script src="/js/devextreme/cldr/unresolved.min.js" />
            <abp-script src="/js/devextreme/globalize.min.js" />
            <abp-script src="/js/devextreme/globalize/message.min.js" />
            <abp-script src="/js/devextreme/globalize/number.min.js" />
            <abp-script src="/js/devextreme/globalize/currency.min.js" />
            <abp-script src="/js/devextreme/globalize/date.min.js" />
            <abp-script src="/js/devextreme/jszip.min.js" />
            <abp-script src="/js/devextreme/dx.all.js" />
            <abp-script src="/js/devextreme/vectormap-data/world.js" />
            <abp-script src="/js/devextreme/aspnet/dx.aspnet.mvc.js" />
            <abp-script src="/js/devextreme/aspnet/dx.aspnet.data.js" />
            <abp-script src="/js/devextreme/localization/dx.messages.zh.js" />
            <abp-script src="/js/devextreme/localization/supplemental.js" />
            <abp-script src="/js/devextreme/localization/zh.js" />
            <abp-script src="/plugins/devextreme/dx.extension.js" />
            <abp-script src="/plugins/devextreme/dx.page.extension.js" />
            <abp-script src="/plugins/devextreme/common.js" />
            <abp-script src="/plugins/jquery-validation/dist/localization/messages_zh.js" />
            <abp-script src="/plugins/drags/dxDragFiles.js" />
            <abp-script src="/js/site.js" />
        </abp-script-bundle>

    <script src="/js/devextreme/cldr.min.js"></script>
    <script src="/js/devextreme/cldr/event.min.js"></script>
    <script src="/js/devextreme/cldr/supplemental.min.js"></script>
    <script src="/js/devextreme/cldr/unresolved.min.js"></script>
    <script src="/js/devextreme/globalize.min.js"></script>
    <script src="/js/devextreme/globalize/message.min.js"></script>
    <script src="/js/devextreme/globalize/number.min.js"></script>
    <script src="/js/devextreme/globalize/currency.min.js"></script>
    <script src="/js/devextreme/globalize/date.min.js"></script>
    <script src="/js/devextreme/jszip.min.js"></script>
    <script src="/js/devextreme/dx.all.js"></script>
    <script src="/js/devextreme/vectormap-data/world.js"></script>
    <script src="/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="/js/devextreme/localization/dx.messages.zh.js"></script>
    <script src="/js/devextreme/localization/supplemental.js"></script>
    <script src="/js/devextreme/localization/zh.js"></script>
    <script src="/plugins/devextreme/dx.extension.js"></script>
    <script src="/plugins/devextreme/dx.page.extension.js"></script>
    <script src="/plugins/devextreme/common.js"></script>
    <script src="/plugins/jquery-validation/dist/localization/messages_zh.js"></script>
    <script src="/plugins/drags/dxDragFiles.js"></script>
    <script src="/js/site.js"></script>*@
