.ti-wand {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');
}

.ti-volume {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');
}

.ti-user {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');
}

.ti-unlock {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');
}

.ti-unlink {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe604;');
}

.ti-trash {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe605;');
}

.ti-thought {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');
}

.ti-target {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe607;');
}

.ti-tag {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe608;');
}

.ti-tablet {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe609;');
}

.ti-star {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60a;');
}

.ti-spray {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60b;');
}

.ti-signal {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60c;');
}

.ti-shopping-cart {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60d;');
}

.ti-shopping-cart-full {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60e;');
}

.ti-settings {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60f;');
}

.ti-search {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe610;');
}

.ti-zoom-in {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe611;');
}

.ti-zoom-out {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe612;');
}

.ti-cut {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe613;');
}

.ti-ruler {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe614;');
}

.ti-ruler-pencil {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe615;');
}

.ti-ruler-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe616;');
}

.ti-bookmark {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe617;');
}

.ti-bookmark-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe618;');
}

.ti-reload {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe619;');
}

.ti-plus {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61a;');
}

.ti-pin {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61b;');
}

.ti-pencil {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61c;');
}

.ti-pencil-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61d;');
}

.ti-paint-roller {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61e;');
}

.ti-paint-bucket {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61f;');
}

.ti-na {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe620;');
}

.ti-mobile {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe621;');
}

.ti-minus {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe622;');
}

.ti-medall {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe623;');
}

.ti-medall-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe624;');
}

.ti-marker {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe625;');
}

.ti-marker-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe626;');
}

.ti-arrow-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe627;');
}

.ti-arrow-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe628;');
}

.ti-arrow-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe629;');
}

.ti-arrow-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62a;');
}

.ti-lock {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62b;');
}

.ti-location-arrow {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62c;');
}

.ti-link {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62d;');
}

.ti-layout {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62e;');
}

.ti-layers {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62f;');
}

.ti-layers-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe630;');
}

.ti-key {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe631;');
}

.ti-import {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe632;');
}

.ti-image {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe633;');
}

.ti-heart {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe634;');
}

.ti-heart-broken {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe635;');
}

.ti-hand-stop {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe636;');
}

.ti-hand-open {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe637;');
}

.ti-hand-drag {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe638;');
}

.ti-folder {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe639;');
}

.ti-flag {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63a;');
}

.ti-flag-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63b;');
}

.ti-flag-alt-2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63c;');
}

.ti-eye {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63d;');
}

.ti-export {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63e;');
}

.ti-exchange-vertical {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63f;');
}

.ti-desktop {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe640;');
}

.ti-cup {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe641;');
}

.ti-crown {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe642;');
}

.ti-comments {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe643;');
}

.ti-comment {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe644;');
}

.ti-comment-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe645;');
}

.ti-close {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe646;');
}

.ti-clip {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe647;');
}

.ti-angle-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe648;');
}

.ti-angle-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe649;');
}

.ti-angle-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64a;');
}

.ti-angle-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64b;');
}

.ti-check {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64c;');
}

.ti-check-box {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64d;');
}

.ti-camera {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64e;');
}

.ti-announcement {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64f;');
}

.ti-brush {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe650;');
}

.ti-briefcase {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe651;');
}

.ti-bolt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe652;');
}

.ti-bolt-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe653;');
}

.ti-blackboard {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe654;');
}

.ti-bag {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe655;');
}

.ti-move {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe656;');
}

.ti-arrows-vertical {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe657;');
}

.ti-arrows-horizontal {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe658;');
}

.ti-fullscreen {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe659;');
}

.ti-arrow-top-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe65a;');
}

.ti-arrow-top-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe65b;');
}

.ti-arrow-circle-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe65c;');
}

.ti-arrow-circle-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe65d;');
}

.ti-arrow-circle-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe65e;');
}

.ti-arrow-circle-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe65f;');
}

.ti-angle-double-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe660;');
}

.ti-angle-double-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe661;');
}

.ti-angle-double-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe662;');
}

.ti-angle-double-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe663;');
}

.ti-zip {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe664;');
}

.ti-world {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe665;');
}

.ti-wheelchair {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe666;');
}

.ti-view-list {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe667;');
}

.ti-view-list-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe668;');
}

.ti-view-grid {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe669;');
}

.ti-uppercase {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe66a;');
}

.ti-upload {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe66b;');
}

.ti-underline {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe66c;');
}

.ti-truck {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe66d;');
}

.ti-timer {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe66e;');
}

.ti-ticket {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe66f;');
}

.ti-thumb-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe670;');
}

.ti-thumb-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe671;');
}

.ti-text {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe672;');
}

.ti-stats-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe673;');
}

.ti-stats-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe674;');
}

.ti-split-v {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe675;');
}

.ti-split-h {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe676;');
}

.ti-smallcap {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe677;');
}

.ti-shine {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe678;');
}

.ti-shift-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe679;');
}

.ti-shift-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe67a;');
}

.ti-shield {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe67b;');
}

.ti-notepad {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe67c;');
}

.ti-server {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe67d;');
}

.ti-quote-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe67e;');
}

.ti-quote-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe67f;');
}

.ti-pulse {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe680;');
}

.ti-printer {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe681;');
}

.ti-power-off {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe682;');
}

.ti-plug {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe683;');
}

.ti-pie-chart {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe684;');
}

.ti-paragraph {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe685;');
}

.ti-panel {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe686;');
}

.ti-package {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe687;');
}

.ti-music {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe688;');
}

.ti-music-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe689;');
}

.ti-mouse {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe68a;');
}

.ti-mouse-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe68b;');
}

.ti-money {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe68c;');
}

.ti-microphone {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe68d;');
}

.ti-menu {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe68e;');
}

.ti-menu-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe68f;');
}

.ti-map {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe690;');
}

.ti-map-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe691;');
}

.ti-loop {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe692;');
}

.ti-location-pin {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe693;');
}

.ti-list {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe694;');
}

.ti-light-bulb {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe695;');
}

.ti-Italic {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe696;');
}

.ti-info {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe697;');
}

.ti-infinite {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe698;');
}

.ti-id-badge {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe699;');
}

.ti-hummer {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe69a;');
}

.ti-home {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe69b;');
}

.ti-help {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe69c;');
}

.ti-headphone {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe69d;');
}

.ti-harddrives {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe69e;');
}

.ti-harddrive {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe69f;');
}

.ti-gift {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a0;');
}

.ti-game {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a1;');
}

.ti-filter {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a2;');
}

.ti-files {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a3;');
}

.ti-file {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a4;');
}

.ti-eraser {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a5;');
}

.ti-envelope {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a6;');
}

.ti-download {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a7;');
}

.ti-direction {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a8;');
}

.ti-direction-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6a9;');
}

.ti-dashboard {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6aa;');
}

.ti-control-stop {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ab;');
}

.ti-control-shuffle {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ac;');
}

.ti-control-play {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ad;');
}

.ti-control-pause {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ae;');
}

.ti-control-forward {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6af;');
}

.ti-control-backward {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b0;');
}

.ti-cloud {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b1;');
}

.ti-cloud-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b2;');
}

.ti-cloud-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b3;');
}

.ti-clipboard {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b4;');
}

.ti-car {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b5;');
}

.ti-calendar {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b6;');
}

.ti-book {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b7;');
}

.ti-bell {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b8;');
}

.ti-basketball {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6b9;');
}

.ti-bar-chart {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ba;');
}

.ti-bar-chart-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6bb;');
}

.ti-back-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6bc;');
}

.ti-back-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6bd;');
}

.ti-arrows-corner {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6be;');
}

.ti-archive {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6bf;');
}

.ti-anchor {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c0;');
}

.ti-align-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c1;');
}

.ti-align-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c2;');
}

.ti-align-justify {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c3;');
}

.ti-align-center {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c4;');
}

.ti-alert {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c5;');
}

.ti-alarm-clock {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c6;');
}

.ti-agenda {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c7;');
}

.ti-write {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c8;');
}

.ti-window {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6c9;');
}

.ti-widgetized {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ca;');
}

.ti-widget {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6cb;');
}

.ti-widget-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6cc;');
}

.ti-wallet {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6cd;');
}

.ti-video-clapper {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ce;');
}

.ti-video-camera {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6cf;');
}

.ti-vector {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d0;');
}

.ti-themify-logo {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d1;');
}

.ti-themify-favicon {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d2;');
}

.ti-themify-favicon-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d3;');
}

.ti-support {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d4;');
}

.ti-stamp {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d5;');
}

.ti-split-v-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d6;');
}

.ti-slice {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d7;');
}

.ti-shortcode {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d8;');
}

.ti-shift-right-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6d9;');
}

.ti-shift-left-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6da;');
}

.ti-ruler-alt-2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6db;');
}

.ti-receipt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6dc;');
}

.ti-pin2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6dd;');
}

.ti-pin-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6de;');
}

.ti-pencil-alt2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6df;');
}

.ti-palette {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e0;');
}

.ti-more {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e1;');
}

.ti-more-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e2;');
}

.ti-microphone-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e3;');
}

.ti-magnet {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e4;');
}

.ti-line-double {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e5;');
}

.ti-line-dotted {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e6;');
}

.ti-line-dashed {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e7;');
}

.ti-layout-width-full {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e8;');
}

.ti-layout-width-default {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6e9;');
}

.ti-layout-width-default-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ea;');
}

.ti-layout-tab {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6eb;');
}

.ti-layout-tab-window {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ec;');
}

.ti-layout-tab-v {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ed;');
}

.ti-layout-tab-min {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ee;');
}

.ti-layout-slider {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ef;');
}

.ti-layout-slider-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f0;');
}

.ti-layout-sidebar-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f1;');
}

.ti-layout-sidebar-none {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f2;');
}

.ti-layout-sidebar-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f3;');
}

.ti-layout-placeholder {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f4;');
}

.ti-layout-menu {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f5;');
}

.ti-layout-menu-v {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f6;');
}

.ti-layout-menu-separated {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f7;');
}

.ti-layout-menu-full {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f8;');
}

.ti-layout-media-right-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6f9;');
}

.ti-layout-media-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6fa;');
}

.ti-layout-media-overlay {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6fb;');
}

.ti-layout-media-overlay-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6fc;');
}

.ti-layout-media-overlay-alt-2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6fd;');
}

.ti-layout-media-left-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6fe;');
}

.ti-layout-media-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe6ff;');
}

.ti-layout-media-center-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe700;');
}

.ti-layout-media-center {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe701;');
}

.ti-layout-list-thumb {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe702;');
}

.ti-layout-list-thumb-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe703;');
}

.ti-layout-list-post {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe704;');
}

.ti-layout-list-large-image {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe705;');
}

.ti-layout-line-solid {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe706;');
}

.ti-layout-grid4 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe707;');
}

.ti-layout-grid3 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe708;');
}

.ti-layout-grid2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe709;');
}

.ti-layout-grid2-thumb {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70a;');
}

.ti-layout-cta-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70b;');
}

.ti-layout-cta-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70c;');
}

.ti-layout-cta-center {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70d;');
}

.ti-layout-cta-btn-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70e;');
}

.ti-layout-cta-btn-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70f;');
}

.ti-layout-column4 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe710;');
}

.ti-layout-column3 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe711;');
}

.ti-layout-column2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe712;');
}

.ti-layout-accordion-separated {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe713;');
}

.ti-layout-accordion-merged {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe714;');
}

.ti-layout-accordion-list {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe715;');
}

.ti-ink-pen {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe716;');
}

.ti-info-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe717;');
}

.ti-help-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe718;');
}

.ti-headphone-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe719;');
}

.ti-hand-point-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71a;');
}

.ti-hand-point-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71b;');
}

.ti-hand-point-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71c;');
}

.ti-hand-point-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71d;');
}

.ti-gallery {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71e;');
}

.ti-face-smile {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71f;');
}

.ti-face-sad {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe720;');
}

.ti-credit-card {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe721;');
}

.ti-control-skip-forward {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe722;');
}

.ti-control-skip-backward {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe723;');
}

.ti-control-record {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe724;');
}

.ti-control-eject {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe725;');
}

.ti-comments-smiley {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe726;');
}

.ti-brush-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe727;');
}

.ti-youtube {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe728;');
}

.ti-vimeo {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe729;');
}

.ti-twitter {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72a;');
}

.ti-time {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72b;');
}

.ti-tumblr {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72c;');
}

.ti-skype {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72d;');
}

.ti-share {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72e;');
}

.ti-share-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72f;');
}

.ti-rocket {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe730;');
}

.ti-pinterest {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe731;');
}

.ti-new-window {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe732;');
}

.ti-microsoft {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe733;');
}

.ti-list-ol {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe734;');
}

.ti-linkedin {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe735;');
}

.ti-layout-sidebar-2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe736;');
}

.ti-layout-grid4-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe737;');
}

.ti-layout-grid3-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe738;');
}

.ti-layout-grid2-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe739;');
}

.ti-layout-column4-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73a;');
}

.ti-layout-column3-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73b;');
}

.ti-layout-column2-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73c;');
}

.ti-instagram {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73d;');
}

.ti-google {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73e;');
}

.ti-github {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73f;');
}

.ti-flickr {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe740;');
}

.ti-facebook {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe741;');
}

.ti-dropbox {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe742;');
}

.ti-dribbble {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe743;');
}

.ti-apple {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe744;');
}

.ti-android {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe745;');
}

.ti-save {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe746;');
}

.ti-save-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe747;');
}

.ti-yahoo {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe748;');
}

.ti-wordpress {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe749;');
}

.ti-vimeo-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74a;');
}

.ti-twitter-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74b;');
}

.ti-tumblr-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74c;');
}

.ti-trello {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74d;');
}

.ti-stack-overflow {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74e;');
}

.ti-soundcloud {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74f;');
}

.ti-sharethis {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe750;');
}

.ti-sharethis-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe751;');
}

.ti-reddit {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe752;');
}

.ti-pinterest-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe753;');
}

.ti-microsoft-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe754;');
}

.ti-linux {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe755;');
}

.ti-jsfiddle {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe756;');
}

.ti-joomla {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe757;');
}

.ti-html5 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe758;');
}

.ti-flickr-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe759;');
}

.ti-email {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75a;');
}

.ti-drupal {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75b;');
}

.ti-dropbox-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75c;');
}

.ti-css3 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75d;');
}

.ti-rss {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75e;');
}

.ti-rss-alt {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75f;');
}